<?xml version="1.0"?>
<robot name="cross">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="cross.obj"/>      
      </geometry>
      <material name="tan">
        <color rgba="0.55 0.5 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="cross.obj"/>
      </geometry>
    </collision>
  </link>
</robot>