<?xml version="1.0"?>
<robot name="foundation">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="foundation_decimated.obj" />      
      </geometry>
      <material name="tan">
        <color rgba="0.35 0.3 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="foundation_decimated.obj" />
      </geometry>
    </collision>
  </link>
</robot>